<section>

  @if (loading) {
    <section  class="min-banner">
      <section  >
        <section class="banner text-center"
          [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(../../../../../../assets/imgs/default-banner.webp)' }">
          <div class="container">
            <div class="head first-character-c d-inline-block font-weight-bold pb-1">
              <h1><span class="main-color des-Name font-weight-bold"> loading..</span>  </h1>
            </div>
            <p class="mt-2"></p>
            <app-ask-expert-btn></app-ask-expert-btn>
          </div>
        </section>
      </section>
    </section>
  }

  @if (!loading) {
    <section   class="min-banner">
      @for (des of singleDestination; track $index) {
        <section>
          <section class="banner text-center"
            [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + banner + ')'}">
            <div class="container">
              <div class="head first-character-c d-block font-weight-bold pb-1">
                <h1>
                  <span class="main-color des-Name font-weight-bold">{{ des.name }}
                  </span>
                </h1>
              </div>
              <app-ask-expert-btn></app-ask-expert-btn>
            </div>
          </section>
        </section>
      }
    </section>
  }

  <section>
    <div class="container">
      @for (des of singleDestination; track $index) {
        <div class="page-links py-2">
          <a aria-label="home" class="hover-color" routerLink="/"> <span>{{"Home"|translate}} / </span> </a>
          <span class="main-color">{{ des.name }}</span>
        </div>
      }
    </div>
  </section>

  <!-- End  descriptipon  for destination -->
  <section class="sec-bg py-2">
    <div class="container">
      @if (!loading) {
        <div>
          @for (des of singleDestination; track $index) {
            <div class="head-title des-text text-center mb-4">
              <app-safe-html class=" inner-html" [htmlContent]="getSafeContent(des.description)"></app-safe-html>
            </div>
          }
        </div>
      }


      @if (loading) {
        <div class="ph-item">
          <div class="ph-col-12">
            <div class="ph-row">
              <div class="ph-col-4"></div>
              <div class="ph-col-8 empty"></div>
              <div class="ph-col-6"></div>
              <div class="ph-col-6 empty"></div>
              <div class="ph-col-12"></div>
            </div>
          </div>
        </div>
      }


      @if (loading) {
        <div class="row mt-3">
          @for (n of numSequence(6); track $index) {
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="ph-item">
                <div class="ph-col-12">
                  <div class="ph-picture"></div>
                  <div class="ph-row">
                    <div class="ph-col-6 big"></div>
                    <div class="ph-col-4 empty big"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-8 empty"></div>
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-12"></div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      }
      <div class="row">

        <!-- Travel Packages -->

        @for (content of singleDestinationContent | slice: 1:2; track $index) {
          <div class="col-lg-8 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a  [attr.aria-label]="content.name" routerLink="/all-destinations/{{ singleDestination[0].slug }}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb" class="img-fluid" alt="{{ content.thumb_alt }}" />
                  <div class="card-body card-details">
                    <h5 class="card-title">
                      {{ singleDestination[0].name }} {{ content.name }}
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }





        <!-- Travel Guide  -->
        @for (content of singleDestinationContent|slice:0:1; track $index) {
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{singleDestination[0].slug}}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb || image" class="img-fluid" alt=" {{content.thumb_alt}}">
                  <div class="card-body card-details">
                    <h5 class="card-title ">{{singleDestination[0].name}} {{content.name}} </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }






        <!-- Travel Excursions  -->
        @for (content of singleDestinationContent | slice: 2:3; track $index) {
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{ singleDestination[0].slug }}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb || image" class="img-fluid" alt=" {{ content.thumb_alt }}" />
                  <div class="card-body card-details">
                    <h5 class="card-title">
                      {{ singleDestination[0].name }} {{ content.name }}
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }
        <!-- Travel Curs-->
        @for (content of singleDestinationContent|slice:3:4; track $index) {
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{singleDestination[0].slug}}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb || image" class="img-fluid" alt=" {{content.thumb_alt}}">
                  <div class="card-body card-details">
                    <h5 class="card-title ">{{singleDestination[0].name}} {{content.name}} </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }




        <!-- Travel Packages -->
        @for (content of singleDestinationContent | slice: 4:5; track $index) {
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{singleDestination[0].slug}}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb" class="img-fluid" alt=" {{ content.thumb_alt }}" />
                  <div class="card-body card-details">
                    <h5 class="card-title">
                      {{ singleDestination[0].name }} {{ content.name }}
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }
        <!-- Travel blogs  -->
        @for (content of singleDestinationContent | slice: 5:6; track $index) {
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 statche ">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{singleDestination[0].slug}}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb" class="img-fluid" alt=" {{ content.thumb_alt }}" />
                  <div class="card-body card-details">
                    <h5 class="card-title">
                      {{ singleDestination[0].name }} {{ content.name }}
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }

        <!-- Hotels -->
        @for (content of singleDestinationContent | slice: 6:7; track $index) {
          <div class="col-lg-8 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{singleDestination[0].slug}}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb" class="img-fluid" alt=" {{ content.thumb_alt }}" />
                  <div class="card-body card-details">
                    <h5 class="card-title">
                      {{ singleDestination[0].name }} {{ content.name }}
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        }

        @for (content of singleDestinationContent | slice: 7; track $index) {
          <div class="col-lg-8 col-md-6 col-sm-12 mb-4 statche">
            <div class="blogs overflow-hidden">
              <a [attr.aria-label]="content.name" routerLink="/all-destinations/{{singleDestination[0].slug}}/{{content.slug}}" class="text-dark">
                <div class="card main-card text-center">
                  <img loading="lazy" [src]="content.thumb" class="img-fluid" alt=" {{ content.thumb_alt }}" />
                  <div class="card-body card-details">
                    <h5 class="card-title">
                      {{ singleDestination[0].name }} {{ content.name }}
                    </h5>
                  </div>
                </div>
              </a>
            </div>.
          </div>
        }



      </div>

    </div>
  </section>

  <app-hot-related></app-hot-related>

</section>
