<section class="sec-banner ">
  <div class="text-center">
    <h3 >{{ "Meet The Team" | translate }}</h3>
    <h5>{{ "Ask Aladdin" | translate }}</h5>
  </div>
</section>
<section>
  <div class="container ">
    <div class="title mt-4 text-center">
      <h1 >{{ "Meet Our Travel Consultants" | translate }}</h1>
      <p >{{ "Ask Aladdin Travel Experts" | translate }}</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="our-team">
            <div class="pic">
                 <img loading="lazy" width="300" height="300" alt="Alaa khalifa"  src="../../../assets/imgs/alaa-khali.jpg">
            </div>
            <h3 class="title">Alaa Khalifa</h3>

            <span class="post">CEO</span>
            <!--social icon-->
            <ul class="social">
              <li><a href="https://www.linkedin.com/in/alaakhalifa5" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="mailto: alaakhalifa@digitalexperts.ae" target="_blank"><i class="fas fa-envelope"></i></a></li>
              <li><a href="https://www.facebook.com/aladdin.khalifa" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
             </ul>
        </div>
    </div>

<!--2nd member-->

    <div class="col-md-4 col-sm-6">
        <div class="our-team">
            <div class="pic">
                 <img loading="lazy" width="300" height="300" alt="Hossam El harery"  src="../../../assets/imgs/hossam_elharery.jpg">
            </div>
            <h3 class="title">Hossam Elharery</h3>
            <span class="post">Front-End Developer</span>

             <!--social Icon-->
             <ul class="social">
              <li><a href="https://www.linkedin.com/in/hossam-elharery-989386157" target="_blank"><i  class="fab fa-linkedin"></i></a></li>
              <li><a href = "mailto: elharery7ossam@gmail.com" target="_blank"><i  class="fas fa-envelope"></i></a></li>
              <li><a href="https://www.facebook.com/hossam.elharery.39" target="_blank"><i  class="fab fa-facebook-f"></i></a></li>

             </ul>
        </div>
    </div>

<!--3rd member-->

<div class="col-md-4 col-sm-6">
  <div class="our-team">
      <div class="pic">
           <img loading="lazy" width="300" height="300"  alt="Ahmed" src="../../../assets/imgs/ahmed.webp">
      </div>
      <h3 class="title">Ahmed Adel</h3>
      <span class="post">Front-End Developer</span>

       <!--social Icon-->
       <ul class="social">
        <li><a href="https://www.linkedin.com/in/ahmed-adel-dev/" target="_blank"><i  class="fab fa-linkedin"></i></a></li>
        <li><a href = "mailto:a.adel9@outlook.com"><i  class="fas fa-envelope"></i></a></li>
        <!-- <li><a href="" target="_blank"><i  class="fab fa-facebook-f"></i></a></li> -->

       </ul>
  </div>
</div>

<!--4th member-->

<div class="col-md-4 col-sm-6">
  <div class="our-team">
      <div class="pic">
           <img loading="lazy" width="300" height="300" alt="Ahmed Hassan"  src="../../../assets/imgs/ahmed_hassan.jpg">
      </div>
      <h3 class="title">Ahmed Hassan</h3>
      <span class="post">Back-End Developer</span>

       <!--social Icon-->
       <ul class="social">
        <li><a href="https://www.linkedin.com/in/ahmed-hassan239" target="_blank"><i  class="fab fa-linkedin"></i></a></li>
        <li><a href = "mailto:ahmed25.ah@gmail.com" target="_blank"> <i  class="fas fa-envelope"></i></a></li>
        <li><a href="https://www.facebook.com/ahmed.hassanelsayed.9" target="_blank"><i  class="fab fa-facebook-f"></i></a></li>
       </ul>
  </div>
</div>
<!--5th member-->

<div class="col-md-4 col-sm-6">
  <div class="our-team">
      <div class="pic">
           <img loading="lazy" width="300" height="300" alt="kero"  src="../../../assets/imgs/kero.jpg">
      </div>
      <h3 class="title">Keroles Atef</h3>
      <span class="post">Back-End Developer</span>

       <!--social Icon-->
       <ul class="social">
        <li><a href="https://www.linkedin.com/in/keroles-atef" target="_blank"><i  class="fab fa-linkedin"></i></a></li>
        <li><a href = "mailto:kerolesatef200@gmail.com" target="_blank"><i  class="fas fa-envelope"></i></a></li>
        <li><a href="https://www.facebook.com/kerolesatef200" target="_blank"><i  class="fab fa-facebook-f"></i></a></li>
       </ul>
  </div>
</div>
    </div>
  </div>
</section>
<!-- <canvas id="canvas" width="1000" height="500"> -->
  <!-- <script src="can.js" type="text/javascript" charset="utf-8" async defer></script> -->
