
<section >
  <section   class="bg-white  px-2 py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-7">
          <div class="head mb-4">
            <h3 class="font-weight-bold"> <span class="single-style">Trip</span> {{"Highlights"|translate}}</h3>
          </div>
          <div class="">
            <ul class="list-group p-0">
              @for (li of lights |slice :0:8; track $index) {
                <li class="list-group-item d-flex px-0 py-2 align-items-center">
                  <i class="far fa-dot-circle"></i>
                  <span>{{li.content}}</span>
                </li>
              }



            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-5 mt-4">

          <div class="">
            <ul class="p-0 mt-4">
              @for (li of lights |slice :8; track $index) {
                <li class="list-group-item align-items-center d-flex px-0 py-2 align-items-center">
                  <i class="far fa-dot-circle"></i>
                  <span>{{li?.content}}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
