<section class="min-banner">
  <div class="sec-banner text-center">
    <div class="container">
        <div class="head first-character-c d-inline-block font-weight-bold pb-1">
            <h1 class="des-Name"><span class="main-color font-weight-bold">{{"All Destinations"|translate}}</span>
            </h1>
        </div>
        <p class="mt-2">{{"Below you will find a variety of attractions here in all these countries. Keep any of these in mind when planning your trip!"|translate}}!</p>


        <app-ask-expert-btn></app-ask-expert-btn>
    </div>
</div>
</section>
