<section class="sec-banner ">
  <div class="text-center">
    <h3>{{ "Thank You For Being An Awesome Customer!" | translate }}</h3>
  </div>
</section>
<section class="sec-bg about-us mt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 my-3 bg-white">
        <h1>{{ "Thank You For Being An Awesome Customer!" | translate }}</h1>
        <div class="descrip">
          <p>
           {{"We have received your message and would like to thank you for writing to us. We have sent you a confirmation email. Please check your spam folder as sometimes our reply goes there by mistake.Please be patient in awaiting our response and rest assured we place the highest priority on getting back to you!" | translate}}
          </p>
        </div>


        <p>
         {{"If your booking inquiry is urgent, please call our toll-free number at +1(888) 513-5971 to speak to one of our customer service representatives. Otherwise, we will reply to your email request as quickly as possible within the next 2 -5 hours." | translate}}
        </p>
        <p>
          {{ "This shall be undertaken through the recruitment of a professional team and the provision of good quality custom-designed travel packages, catering to each client's particular needs." | translate }}
        </p>
        <h3>Thank you!</h3>

        <h4> AskAladdin, Your Egypt Travel Experts</h4>

        <div class="row">
          <div class="col-md-6">
            <img class="w-100" src="../../../../assets/imgs/thanks.webp" alt="">

          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 mb-3"><app-expert-reviews [name]="'articles'"></app-expert-reviews></div>
    </div>
  </div>
</section>
<app-scroll-button></app-scroll-button>
